@page
@model GoPokemon.Areas.Cards.MyCardsIndexModel
@{
}
<div class="text-center">
    <img src="~/img/ScannedCards.png" style="width:100%; height:auto;"/>
</div>
@if(Model.userCards.Count != 0)
{
<div id="download">
     <center ><h1 class="btn-warning">@Html.ActionLink("Download Your Card Information", "DownloadFile", "Home", new { id = Model.userCards.FirstOrDefault().UserId})</h1></center>
</div>
}


<!-- Flip Card-->
@*<center>
    <h1>This is an Example of your scanned cards</h1>
</center>*@
<!--<div class="wrapper">-->
@foreach (var item in Model.userCards)
{
    <div class="flip-card" style="display: inline-block">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/@(item.Card.Set.Name + "/"+item.Card.CollectionNumber +".jpg")" alt="@(item.Card.Name + " Card")" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back" style="background-color:yellow; color:black;">
                <h1 id="Name">@item.Card.Name</h1>
                <p id="Quantity">Quantity: @item.Quantity</p>
                <p id="ConditionName">Condition: @item.Condition.Name</p>
                <p id="Value">Value: @item.Card.Value</p>
                @*<p><bold>Collection Number: </bold>@item.CollectionNumber</p>
        <p>@item.Set.Name</p>
        <p>Quantity: ??</p>
        <p>Value: ??</p>*@
                <form method="post">
                    <button asp-page-handler="Add" asp-route-conditionId="@item.ConditionId" asp-route-cardId="@item.CardId">Add</button>
                    <button asp-page-handler="Subtract" asp-route-conditionId="@item.ConditionId" asp-route-cardId="@item.CardId">Subtract</button>
                    <button id="Remove" asp-page-handler="Remove" asp-route-conditionId="@item.ConditionId" asp-route-cardId="@item.CardId" class="btn btn-primary">Remove</button>
                </form>
            </div>
        </div>
    </div>


}
