@page
@model GoPokemon.Areas.Cards.MyCardsIndexModel
@{
}
<div class="text-center">
    <img src="~/img/ScannedCards.png" style="width:100%; height:auto;"/>
</div>

<!-- Flip Card-->
<center>
    <h1>This is an Example of your scanned cards</h1>
</center>
<!--<div class="wrapper">-->
@foreach (var item in Model.userCards)
{
    <div class="flip-card" style="display: inline-block">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/@(item.Card.Name +".jpg")" alt="@(item.Card.Name + " Card")" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back" style="background-color:yellow; color:black;">
                <h1>@item.Card.Name</h1>
                <p>@item.Quantity</p>
                <p>@item.Condition.Name</p>
                @*<p><bold>Collection Number: </bold>@item.CollectionNumber</p>
        <p>@item.Set.Name</p>
        <p>Quantity: ??</p>
        <p>Value: ??</p>*@
                <div>
                    <button type="button" style="margin-top: auto">Add</button>
                    <button type="button" style="margin-top: auto">Subtract</button>
                </div>
                <form asp-page-handler="Remove" asp-route-conditionId="@item.ConditionId" asp-route-cardId="@item.CardId" method="post">
                    <button id="@item.CardId" class="btn btn-primary">Remove</button>
                </form>
            </div>
        </div>
    </div>


}
