@page
@model GoPokemon.Areas.Cards.Views.UploadCardModel
@{
}
<div class="text-center">
    
    <img src="~/img/UploadPokeFont.png" style="width:100%; height:auto;" />
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label asp-for="CardImage"></label>
            </dt>
            <dd>
                <input asp-for="CardImage" accept="image/*" />
                <span asp-validation-for="CardImage"></span>
            </dd>
        </dl>
        <dl>
            <label asp-for="@Model.Input.CardName">Choose a Card:</label>
            <select asp-for="@Model.Input.CardName">
                @foreach (var item in Model.Cards)
                {
                    <option value="@item.Name">@item.Name</option>

                }
            </select>
        </dl>
        <dl>
            <label asp-for="@Model.Input.Quantity">Quantity</label>
            <select asp-for="@Model.Input.Quantity">
                @for (int i = 1; i < 101; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </dl>
        <dl>
            <label asp-for="@Model.Input.Condition">Condiiton</label>
            <select asp-for="@Model.Input.Condition">
                    <option value="1">Mint</option>
                    <option value="2">Near Mint</option>
                    <option value="3">Played</option>                
            </select>
        </dl>
        <input id="submit" class="btn" type="submit" value="Upload" />
    </form>
</div>
